[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
C = GB
ST = Surrey
L = Kingston-Upon-Thames
O = Curfew Ltd
OU = Development
CN = curfew
emailAddress = kierenholt@gmail.com