[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
C = GB
ST = Surrey
L = Kingston-Upon-Thames
O = Teachometer Ltd
OU = Development
CN = curfew
emailAddress = info@teachometer.co.uk